{%extends 'home.html'%}{% block tit %}logout{% endblock %}

<br>{% block top_menu %} {% include "top_menu.html" %} {% endblock %}
<br>{% block head_model %}
<div class="center_model_2">
    <h2 class="">U have been logged out</h2>
    <a href="{% url 'core:home' %}" class="button_x red">back to menu</a>

</div>{% endblock %}
<br>{% block body_1 %}{% endblock %}
<br>{% block body_2 %}{% endblock %}
<br>{% block bottom_menu %}{% include "bottom_menu.html" %} {% endblock %}
<br>{% block scripts_area%}{% endblock %}