h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'swissracondensed', 'Cairo';
    direction: rtl;
    font-weight: 800;
}

::-webkit-scrollbar {
    background-color: rgb(44, 44, 44);
    border: 2px solid red;
}

::-webkit-scrollbar-button {
    width: 20px;
    border-radius: 10px;
    background-color: #ff0000;
}

::-webkit-scrollbar-thumb {
    background-color: white;
    height: 30px;
    border-radius: 10px;
}

p,
a,
li>a {
    font-family: 'swissracondensed', 'Cairo';
    direction: rtl;
    font-weight: 500;
}

.center_model_1 {
    width: 100%;
    text-align: center;
    min-height: fit-content;
    max-height: max-content;
}

ul,
ol {
    list-style-type: none;
    padding: 3% !important;
}

th,
td {
    text-align: center;
}

.list_model {
    display: grid;
}

.center_model_2 {
    width: 100%;
    display: grid;
    place-content: center;
    text-align: center;
    min-height: fit-content;
    max-height: max-content;
}

.div_4_parts {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    min-height: 10lvh;
    max-height: max-content;
    width: 100% !important;
}

.div_4_parts>div {
    display: grid;
    justify-self: center;
    justify-items: center;
    width: 100%;
    height: fit-content;
    text-align: center;
}

.dual_side {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.dual_side>div {
    width: 50%;
}

.dual_side>ul {
    display: grid;
    gap: 5%;
    width: 100%;
}

.form_x {
    display: grid;
    padding: 2%;
    width: 100%;
    margin: 3% 0%;
}

.form_x>div>* {
    padding: 1%;
}

.list_model_1 {
    padding: 0% 0%;
    margin: 3% 2%;
    box-shadow: 0px 0px 7px 1px #000;
    width: 90%;
}

.img_data_1 {
    width: 100%;
    max-height: max-content;
    position: relative;
}

.form_x>div>input,
.form_x>div>select {
    text-align: center;
    border: 0.5px solid red;
    width: 100%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.button_x {
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    text-align: center;
    padding: 3%;
    bottom: 0px solid #00000000;
}

button {
    border: 0px;
}

.fig_x {
    position: relative;
    bottom: 0%;
    width: 100%;
    height: auto;
    background-size: contain;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border: 0.5rem solid #fff;
}

.button_x.red {
    background-color: red;
    color: #fff;
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
    font-weight: 700;
}

.button_x.red:hover {
    font-weight: 700;
    background-color: rgb(255, 255, 255);
    color: #ff0000;
    transition: 500ms;
    -webkit-transition: 500ms;
    -moz-transition: 500ms;
    -ms-transition: 500ms;
    -o-transition: 500ms;
}

.helptext {
    font-size: small;
    padding: 0px !important;
}

div>label+textarea {
    display: grid;
    gap: 3%;
    width: 100%;
}


/*
Mondaro20:Poiu2000

*/

.logout_style {
    border: 0px;
    background-color: rgba(240, 248, 255, 0);
    color: #fff;
}

@media (min-width:1440px) {}

@media (min-width:900px)and(max-width:1439px) {
    .div_4_parts {
        display: grid;
        grid-template-columns: repeat(4, 25%);
        min-height: 10lvh;
        max-height: max-content;
    }
}

@media (min-width:701px)and(max-width:899px) {
    .div_4_parts {
        display: grid;
        grid-template-columns: repeat(3, 30%);
        min-height: 10lvh;
        max-height: max-content;
    }
    .dual_side {
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    .dual_side>div {
        width: 100%;
    }
}

@media (min-width:601px)and(max-width:700px) {
    .div_4_parts {
        display: grid;
        grid-template-columns: repeat(1, 100%);
        min-height: 10lvh;
        max-height: max-content;
    }
    .dual_side {
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    .dual_side>div {
        width: 100%;
    }
}

@media (max-width:600px) {
    .div_4_parts {
        display: grid;
        grid-template-columns: repeat(1, 100%);
        min-height: 10lvh;
        max-height: max-content;
    }
    .dual_side {
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    .dual_side>div {
        width: 100%;
    }
}