{%extends 'home.html'%}{% block tit %}{{user_profile.name}} {{user_profile.user_of}}{% endblock %}

<br>{% block top_menu %} {% include "top_menu.html" %} {% endblock %}
<br>{% block head_model %}
<div class="center_model_2">

    {% include "user_profile/model_of_user.html" %}





    <ul type="none" class="list_model" style="text-align: center;">

        {% if user_profile.profile_activity == 'وكيل ماركة' %}
        <li>{{user_profile.profile_activity}}</li>
        {% include "user_profile\model_1_mark_owner.html" %}
        <br> {% elif user_profile.profile_activity == 'محل قطع غيار' %}
        <li>{{user_profile.profile_activity}}</li>
        {% include "user_profile\model_3_car_parts.html" %}
        <li>place include model 4</li>
        <br>{% elif user_profile.profile_activity == 'إيجار' %}

        <br> {% include "user_profile\model_7_hire.html" %}
        <br>{% elif user_profile.profile_activity == 'مركز صيانة' %}

        <br> {% include "user_profile\model_2_fix_center.html" %}
        <br>{% elif user_profile.profile_activity == 'وقود' %}
        <br> {% include "user_profile\model_6_petrol.html" %}
        <br>{% elif user_profile.profile_activity == 'عميل' %}
        <br> {% include "user_profile\model_8_enduser.html" %}
        <br>{% elif user_profile.profile_activity == 'شراء' %}
        <li>{{user_profile.profile_activity}}</li>
        <li>place include model 1</li>

        {% elif user_profile.profile_activity == 'بيع-إيجار-شراء' %}
        <br>{% include "user_profile/model_9_buy_sell_hire.html" %}
        <br>{% elif user_profile.profile_activity == 'أكسسوارت' %}
        <li>{{user_profile.profile_activity}}</li>
        <br>{% include "user_profile/model_4_decore.html" %}
        <li>place include model 14</li> {% else %} {% include "user_profile/model_5_driving_school.html" %}

        <li>{{user_profile.profile_activity}}</li>
        <li>place include model 0</li>
        {% endif %}






    </ul>
</div>{% endblock %}
<br>{% block body_1 %} {% endblock %}
<br>{% block body_2 %}{% endblock %}
<br>{% block bottom_menu %}{% include "bottom_menu.html" %} {% endblock %}
<br>{% block scripts_area%}{% endblock %}