{%extends 'home.html'%}{% block tit %}{{mark}} {{model}}{% endblock %} {% load static %}

<br>{% block top_menu %} {% include "top_menu.html" %} {% endblock %}
<br>{% block head_model %} {% if the_car_model %}
<h2 class="">{{mark}} {{model}}</h2>
<figure class="fig_x">

    <img src="{{the_car_model.m_img.url}}" height="" class="img_data_1">
    <br><br>
</figure> {% else %}
<h2>NO DATA</h2>
{% endif %} {% endblock %}
<br>{% block body_1 %} {% if the_car_model %}
<div class="dual_side">
    <ul type="none" class="list_model" style="text-align: center;">
        <li>
            <h2>model of {{the_car_model.model_of_year}}</h2>
        </li>
        <li>Weight:<strong>{{the_car_model.weight}}Tonn</strong></li>
        <li>Speed:<strong>{{the_car_model.speed_km}} Km/h</strong></li>
        <li>Engine Capacity:<strong>{{the_car_model.engine_capacity}} CC</strong></li>
        <li>Price:<strong>{{the_car_model.price}} EGP</strong></li>
        <li>made at {{the_car_model.date_of_made}}</li>
    </ul>
    <ul class="list_model" style="display: grid;">
        <a href="" class="button_x red">places of buy</a>
        <a href="" class="button_x red">places of selleing car parts</a>
        <a href="" class="button_x red">places of fixing</a>
        <a href="" class="button_x red">return</a>
    </ul>
</div>
{% else %}
<h2>NO DATA</h2>
{% endif %} {% endblock %}
<br>{% block body_2 %}{% endblock %}
<br>{% block bottom_menu %}{% include "bottom_menu.html" %} {% endblock %}
<br>{% block scripts_area%}{% endblock %}