{% load static %} {% load countries %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>{% block tit %} Home {% endblock%}</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{% static 'img/logo_1.svg' %}" rel="icon">
    <link href="{% static 'assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{%static 'assets/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{%static 'assets/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
    <link href="{%static 'assets/vendor/aos/aos.css'%}" rel="stylesheet">
    <link href="{%static 'assets/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">
    <link href="{%static 'assets/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="{% static 'assets/css/main.css'%}" rel="stylesheet">
    <link href="{% static 'css/m1.css'%}" rel="stylesheet">
    <link href="{% static 'css/m2.css'%}" rel="stylesheet">
    <link href="{% static 'css/m3.css'%}" rel="stylesheet">


    <!-- =======================================================
  * Template Name: NEW CARZONE
  * Template URL: https://bootstrapmade.com/NEW CARZONE-multipurpose-html-template-for-free/
  * Updated: Mar 19 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

    <header id="header" class="header fixed-top">

        <div class="topbar d-flex align-items-center">
            <div class="container d-flex justify-content-center justify-content-md-between">
                <div class="contact-info d-flex align-items-center">
                    <i class="bi bi-envelope d-flex align-items-center"><a href="mailto:mohsabryismail1998@gmail.com">mohsabryismail1998@gmail.com</a></i>
                    <i class="bi bi-phone d-flex align-items-center ms-4"><span>+201094128969</span></i>
                </div>
                <div class="social-links d-none d-md-flex align-items-center">
                    <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>
        </div>
        <!-- End Top Bar -->

        <div class="branding">

            <di class="container position-relative d-flex align-items-center justify-content-between">

                {% block top_menu%}

                <nav id="navmenu" class="navmenu">
                    <ul>
                        <li><a href="#hero" class="">الرئيسية</a></li>
                        <li><a href="#about">نبذة عنا</a></li>
                        <li><a href="#services">الخدمات</a></li>
                        <li><a href="#portfolio">الماركات</a></li>
                        <li><a href="#team">Team</a></li>
                        <li class="dropdown has-dropdown">
                            <a href="#"><span>Dropdown</span> <i class="bi bi-chevron-down"></i></a>
                            <ul>
                                {% for i in mark_cars %}

                                <li><a href="{% url 'core:mark_item' i.pk i.name %}">{{i.name}}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="megamenu has-dropdown"><a href="#"><span>Mega Menu</span> <i class="bi bi-chevron-down"></i></a>
                            <ul>
                                <li>
                                    <a href="#">Column 1 link 1</a>
                                    <a href="#">Column 1 link 2</a>
                                    <a href="#">Column 1 link 3</a>
                                </li>
                                <li>
                                    <a href="#">Column 2 link 1</a>
                                    <a href="#">Column 2 link 2</a>
                                    <a href="#">Column 3 link 3</a>
                                </li>
                                <li>
                                    <a href="#">Column 3 link 1</a>
                                    <a href="#">Column 3 link 2</a>
                                    <a href="#">Column 3 link 3</a>
                                </li>
                                <li>
                                    <a href="#">Column 4 link 1</a>
                                    <a href="#">Column 4 link 2</a>
                                    <a href="#">Column 4 link 3</a>
                                </li>
                                <li>
                                    <a href="#">Column 5 link 1</a>
                                    <a href="#">Column 5 link 2</a>
                                    <a href="#">Column 5 link 3</a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="#contact">التواصل</a></li>
                    </ul>
                    <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
                </nav>
                {% endblock%}
                <a href="{% url 'core:home' %}" class="logo d-flex align-items-center">
                    <!-- Uncomment the line below if you also wish to use an image logo -->
                    <img src="{% static 'img/logo_1.svg' %}" width="256px" height="100px" alt="" style="width: 256px;height: 100px;" id="logo_comp">
                    <!---->

                </a>
            </di>
        </div>

    </header>

    <main class="main">

        <!-- Hero Section -->
        <section id="hero" class="hero section bkg_model_1">



            <div class="container" data-aos="fade-up" data-aos-delay="100">
                <div class="row justify-content-start">
                    <div class="col-lg-8 center_model_1">


                        {% block head_model %}
                        <div class="img_center" style="display: grid;justify-content: center;">
                            <img src="{% static 'img/logo_1.svg ' %}" style="width: 100%;height: 300px;" />
                        </div>

                        <p>الثقة أولا....ثم الأبهار أخيرا</p>
                        {% if user.is_authenticated %} {% if user.is_superuser or user.is_staff %}
                        <a href="/admin" class="btn-get-started">{{user.username}}</a>
                        <form action="{% url 'core:logout' %}" class="btn-get-started" method="post">
                            {% csrf_token %}
                            <button type="submit" style="background-color: rgba(240, 248, 255, 0);color: #fff;">تسجيل خروج</button>
                        </form>
                        {% else %}

                        <a href="{% url 'core:view_user_profile' user.username user.pk user.username profile_x.name %}" class="btn-get-started">{{user.username}}</a>

                        <form action="{% url 'core:logout' %}" class="btn-get-started" method="post">
                            {% csrf_token %}
                            <button type="submit" style="background-color: rgba(240, 248, 255, 0);color: #fff;">تسجيل خروج</button>
                        </form>

                        {% endif %} {% else %}
                        <a href="{% url 'core:login' %}" class="btn-get-started">تسجيل دخول</a>
                        <a href="{% url 'core:add_user' %}" class="btn-get-started">تسجيل مستخدم جديد</a> {% endif %} {% endblock %}
                    </div>
                </div>
            </div>

        </section>
        <!-- /Hero Section -->

        <!-- About Section -->
        <section id="about" class="about section">

            <!-- Section Title -->{% block body_1 %}


            <div class="container section-title" data-aos="fade-up">
                <span class="">About Us<br></span>
                <h2 class="">About Us<br></h2>
                <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
            </div>
            <!-- End Section Title -->

            <div class="container">

                <div class="row gy-4">

                    <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
                        <img src="{% static 'img/driver_6.jpg' %}" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
                        <h3>نحن شركة "إيجي كارزون" القائمة و المسؤلة عن توفير كل المعلومات والمصادر المتعلقة بمجال السيارات</h3>
                        <p class="fst-italic">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        </p>
                        <ul>
                            <li><i class="bi bi-check-circle"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo consequat.</span></li>
                            <li><i class="bi bi-check-circle"></i> <span>Duis aute irure dolor in reprehenderit in voluptate velit.</span></li>
                            <li><i class="bi bi-check-circle"></i> <span>Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.</span></li>
                        </ul>
                        <a href="#" class="read-more"><span>Read More</span><i class="bi bi-arrow-right"></i></a>
                    </div>

                </div>

            </div>
            {% endblock %}
        </section>
        <!-- /About Section -->
        {% block body_2 %}


        <!-- Cards Section -->
        <section id="cards" class="cards section">

            <h1 style="width: 100%;text-align: center;">عمل حساب لكل العاملين في السيارات من النواحي الأتية</h1>
            <div class="container">
                <div class="row no-gutters">

                    <div class="col-lg-4 col-md-6 card" data-aos="fade-up" data-aos-delay="100">
                        <span>01</span>
                        <h4>أصحاب الماركات والموديلات</h4>
                        <p>Ulamco laboris nisi ut aliquip ex ea commodo consequat. Et consectetur ducimus vero placeat</p>

                    </div>
                    <!-- End Card Item -->

                    <div class="col-lg-4 col-md-6 card" data-aos="fade-up" data-aos-delay="200">
                        <span>02</span>
                        <h4>مراكز الصيانة</h4>
                        <p>Dolorem est fugiat occaecati voluptate velit esse. Dicta veritatis dolor quod et vel dire leno para dest</p>
                    </div>
                    <!-- End Card Item -->

                    <div class="col-lg-4 col-md-6 card" data-aos="fade-up" data-aos-delay="300">
                        <span>03</span>
                        <h4> مراكز الديكور والتزيين</h4>
                        <p>Molestiae officiis omnis illo asperiores. Aut doloribus vitae sunt debitis quo vel nam quis</p>
                    </div>
                    <!-- End Card Item -->

                    <div class="col-lg-4 col-md-6 card" data-aos="fade-up" data-aos-delay="400">
                        <span>04</span>
                        <h4>محطات البنزين</h4>
                        <p>Inventore quo sint a sint rerum. Distinctio blanditiis deserunt quod soluta quod nam mider lando casa</p>
                    </div>
                    <!-- End Card Item -->

                    <div class="col-lg-4 col-md-6 card" data-aos="fade-up" data-aos-delay="400">
                        <span>05</span>
                        <h4>مراكز تطوير الأداء</h4>
                        <p>Vitae dolorem in deleniti ipsum omnis tempore voluptatem. Qui possimus est repellendus est quibusdam</p>
                    </div>
                    <!-- End Card Item -->

                    <div class="col-lg-4 col-md-6 card" data-aos="fade-up" data-aos-delay="600">
                        <span>06</span>
                        <h4>مراكز تعليم القيادة</h4>
                        <p>Quis eum numquam veniam ea voluptatibus voluptas. Excepturi aut nostrum repudiandae voluptatibus corporis sequi</p>
                    </div>
                    <!-- End Card Item -->

                </div>

            </div>

        </section>
        <!-- /Cards Section -->

        <!-- Clients Section -->
        <section id="clients" class="clients section">
            <h2 style="text-align: center;">الشركات المتعقده في مجال دعم السيارات</h2>

            <div class="container">
                <div class="swiper">
                    <script type="application/json" class="swiper-config">
                        {
                            "loop": true,
                            "speed": 600,
                            "autoplay": {
                                "delay": 5000
                            },
                            "slidesPerView": "auto",
                            "pagination": {
                                "el": ".swiper-pagination",
                                "type": "bullets",
                                "clickable": true
                            },
                            "breakpoints": {
                                "320": {
                                    "slidesPerView": 2,
                                    "spaceBetween": 40
                                },
                                "480": {
                                    "slidesPerView": 3,
                                    "spaceBetween": 60
                                },
                                "640": {
                                    "slidesPerView": 4,
                                    "spaceBetween": 80
                                },
                                "992": {
                                    "slidesPerView": 6,
                                    "spaceBetween": 120
                                }
                            }
                        }
                    </script>
                    <div class="swiper-wrapper align-items-center">
                        {% for sc in supported_companys %}
                        <div class="swiper-slide"><img src="{{sc.m_logo.url}}" class="img-fluid" alt=""></div>

                        {% endfor %}



                    </div>
                </div>

            </div>

        </section>
        <!-- /Clients Section -->

        <!-- Services Section -->
        <section id="services" class="services section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <span class="">الخدمات المتاحة لمستخدمي التطبيق</span>

                <h2>الخدمات المتاحة لمستخدمي التطبيق</h2>
            </div>
            <!-- End Section Title -->

            <div class="container">

                <div class="row gy-4">

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                        <div class="service-item  position-relative">
                            <div class="icon_model">
                                <img src="{% static 'img/client_serve/gas_stat.svg' %}" height="64px" width="64px" alt="">
                            </div>
                            <a href="#" class="stretched-link">
                                <h3>محطات البنزين</h3>
                            </a>
                            <p>Provident nihil minus qui consequatur non omnis maiores. Eos accusantium minus dolores iure perferendis tempore et consequatur.</p>
                        </div>
                    </div>
                    <!-- End Service Item -->

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
                        <div class="service-item position-relative">
                            <div class="icon_model">
                                <img src="{% static 'img/client_serve/fix.svg' %}" height="64px" width="64px" alt="">
                            </div>
                            <a href="#" class="stretched-link">
                                <h3>مراكز الصيانة</h3>
                            </a>
                            <p>Ut autem aut autem non a. Sint sint sit facilis nam iusto sint. Libero corrupti neque eum hic non ut nesciunt dolorem.</p>
                        </div>
                    </div>
                    <!-- End Service Item -->

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
                        <div class="service-item position-relative">
                            <div class="icon_model">
                                <img src="{% static 'img/client_serve/locations.svg' %}" height="64px" width="64px" alt="">
                            </div>
                            <a href="#" class="stretched-link">
                                <h3>فروع لكل موزعي خدمات السيارات</h3>
                            </a>
                            <p>Ut excepturi voluptatem nisi sed. Quidem fuga consequatur. Minus ea aut. Vel qui id voluptas adipisci eos earum corrupti.</p>
                        </div>
                    </div>
                    <!-- End Service Item -->

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
                        <div class="service-item position-relative">
                            <div class="icon_model">
                                <img src="{% static 'img/client_serve/marri.svg' %}" height="64px" width="64px" alt="">
                            </div>
                            <a href="#" class="stretched-link">
                                <h3>إيجار للمناسبات</h3>
                            </a>
                            <p>Non et temporibus minus omnis sed dolor esse consequatur. Cupiditate sed error ea fuga sit provident adipisci neque.</p>
                            <a href="#" class="stretched-link"></a>
                        </div>
                    </div>
                    <!-- End Service Item -->

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
                        <div class="service-item position-relative">
                            <div class="icon_model">
                                <img src="{% static 'img/client_serve/car-line-com.svg' %}" height="64px" width="64px" alt="">
                            </div>
                            <a href="#" class="stretched-link">
                                <h3>شراء السيارات من مخنلف الماركات</h3>
                            </a>
                            <p>Cumque et suscipit saepe. Est maiores autem enim facilis ut aut ipsam corporis aut. Sed animi at autem alias eius labore.</p>
                            <a href="#" class="stretched-link"></a>
                        </div>
                    </div>
                    <!-- End Service Item -->

                    <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
                        <div class="service-item position-relative">
                            <div class="icon_model">
                                <img src="{% static 'img/client_serve/c_serve.svg' %}" height="64px" width="64px" alt="">
                            </div>
                            <a href="#" class="stretched-link">
                                <h3>تواصل مع خدمة العملاء</h3>
                            </a>
                            <p>Hic molestias ea quibusdam eos. Fugiat enim doloremque aut neque non et debitis iure. Corrupti recusandae ducimus enim.</p>
                            <a href="#" class="stretched-link"></a>
                        </div>
                    </div>
                    <!-- End Service Item -->

                </div>

            </div>

        </section>
        <!-- /Services Section -->

        <!-- Call To Action Section -->
        <section id="call-to-action" class="call-to-action section">

            <img src="{% static 'img/car_1.jpg' %}" alt="">

            <div class="container">
                <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
                    <div class="col-xl-10">
                        <div class="text-center">
                            <h3>Call To Action</h3>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            <a class="cta-btn" href="">list cars</a>
                            <a class="cta-btn" href="">make account</a>
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!-- /Call To Action Section -->

        <!-- Portfolio Section -->
        <section id="portfolio" class="portfolio section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <span class="">الماركات الرئيسية</span>
                <h2>الماركات الرئيسية</h2>
                <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
            </div>
            <!-- End Section Title -->

            <div class="container">

                <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">


                    <!-- End Portfolio Filters -->

                    <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">
                        {% for c in mark_cars %}
                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                            <img src="{{c.m_logo.url}}" class="img-fluid" width="512px" height="512px" alt="">
                            <div class="portfolio-info">
                                <h1>{{c.name}}</h1>
                                <p>{{c.country_made}}</p>
                                <a href="{{c.m_logo.url}}" class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                                <a href="portfolio-details.html" title="More Details" class="details-link"><i class="bi bi-link-45deg"></i></a>
                            </div>
                        </div>
                        {% endfor %}




                        <!-- End Portfolio Item -->

                        <!-- End Portfolio Item -->


                        <!-- End Portfolio Item -->

                        <!-- End Portfolio Item -->

                        <!-- End Portfolio Item -->


                        <!-- End Portfolio Item -->

                        <!-- End Portfolio Item -->


                        <!-- End Portfolio Item -->

                        <!-- End Portfolio Item -->

                    </div>
                    <!-- End Portfolio Container -->

                </div>
                <br><br><br>
                <a href="{% url 'core:marks' %}" class="button_x red" style="width: 100%;display: block;">تصفح المزيد من الماركات</a>

            </div>

        </section>
        <!-- /Portfolio Section -->

        <!-- Pricing Section -->
        <section id="pricing" class="pricing section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <span class="">Pricing</span>
                <h2>Pricing</h2>
                <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
            </div>
            <!-- End Section Title -->

            <div class="container">

                <div class="row g-4 g-lg-0">

                    <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="100">
                        <div class="pricing-item">
                            <h3>Free Plan</h3>
                            <h4><sup>$</sup>0<span> / month</span></h4>
                            <ul>
                                <li><i class="bi bi-check"></i> <span>Quam adipiscing vitae proin</span></li>
                                <li><i class="bi bi-check"></i> <span>Nec feugiat nisl pretium</span></li>
                                <li><i class="bi bi-check"></i> <span>Nulla at volutpat diam uteera</span></li>
                                <li class="na"><i class="bi bi-x"></i> <span>Pharetra massa massa ultricies</span></li>
                                <li class="na"><i class="bi bi-x"></i> <span>Massa ultricies mi quis hendrerit</span></li>
                            </ul>
                            <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>
                        </div>
                    </div>
                    <!-- End Pricing Item -->

                    <div class="col-lg-4 featured" data-aos="zoom-in" data-aos-delay="200">
                        <div class="pricing-item">
                            <h3>Business Plan</h3>
                            <h4><sup>$</sup>29<span> / month</span></h4>
                            <ul>
                                <li><i class="bi bi-check"></i> <span>Quam adipiscing vitae proin</span></li>
                                <li><i class="bi bi-check"></i> <span>Nec feugiat nisl pretium</span></li>
                                <li><i class="bi bi-check"></i> <span>Nulla at volutpat diam uteera</span></li>
                                <li><i class="bi bi-check"></i> <span>Pharetra massa massa ultricies</span></li>
                                <li><i class="bi bi-check"></i> <span>Massa ultricies mi quis hendrerit</span></li>
                            </ul>
                            <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>
                        </div>
                    </div>
                    <!-- End Pricing Item -->

                    <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="100">
                        <div class="pricing-item">
                            <h3>Developer Plan</h3>
                            <h4><sup>$</sup>49<span> / month</span></h4>
                            <ul>
                                <li><i class="bi bi-check"></i> <span>Quam adipiscing vitae proin</span></li>
                                <li><i class="bi bi-check"></i> <span>Nec feugiat nisl pretium</span></li>
                                <li><i class="bi bi-check"></i> <span>Nulla at volutpat diam uteera</span></li>
                                <li><i class="bi bi-check"></i> <span>Pharetra massa massa ultricies</span></li>
                                <li><i class="bi bi-check"></i> <span>Massa ultricies mi quis hendrerit</span></li>
                            </ul>
                            <div class="text-center"><a href="#" class="buy-btn">Buy Now</a></div>
                        </div>
                    </div>
                    <!-- End Pricing Item -->

                </div>

            </div>

        </section>
        <!-- /Pricing Section -->

        <!-- Team Section -->
        <section id="team" class="team section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <span class="">Team</span>
                <h2>Team</h2>
                <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
            </div>
            <!-- End Section Title -->

            <div class="container">

                <div class="row">

                    <div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
                        <div class="member">
                            <img src="{% static 'assets/img/team/team-1.jpg' %}" class="img-fluid" alt="">
                            <div class="member-content">
                                <h4>Walter White</h4>
                                <span>Web Development</span>
                                <p>
                                    Magni qui quod omnis unde et eos fuga et exercitationem. Odio veritatis perspiciatis quaerat qui aut aut aut
                                </p>
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Team Member -->

                    <div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
                        <div class="member">
                            <img src="{% static 'assets/img/team/team-2.jpg' %}" class="img-fluid" alt="">
                            <div class="member-content">
                                <h4>Sarah Jhinson</h4>
                                <span>Marketing</span>
                                <p>
                                    Repellat fugiat adipisci nemo illum nesciunt voluptas repellendus. In architecto rerum rerum temporibus
                                </p>
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Team Member -->

                    <div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
                        <div class="member">
                            <img src="{% static 'assets/img/team/team-3.jpg' %}" class="img-fluid" alt="">
                            <div class="member-content">
                                <h4>William Anderson</h4>
                                <span>Content</span>
                                <p>
                                    Voluptas necessitatibus occaecati quia. Earum totam consequuntur qui porro et laborum toro des clara
                                </p>
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Team Member -->

                </div>

            </div>

        </section>
        <!-- /Team Section -->

        <!-- Contact Section -->
        <section id="contact" class="contact section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <span class="">Contact</span>
                <h2 class="">Contact</h2>
                <p>Necessitatibus eius consequatur ex aliquid fuga eum quidem sint consectetur velit</p>
            </div>
            <!-- End Section Title -->

            <div class="container" data-aos="fade-up" data-aos-delay="100">

                <div class="row gy-4">

                    <div class="col-lg-6">
                        <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="200">
                            <i class="bi bi-geo-alt"></i>
                            <h3>Address</h3>
                            <p>A108 Adam Street, New York, NY 535022</p>
                        </div>
                    </div>
                    <!-- End Info Item -->

                    <div class="col-lg-3 col-md-6">
                        <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="300">
                            <i class="bi bi-telephone"></i>
                            <h3>Call Us</h3>
                            <p>+201094128969</p>
                        </div>
                    </div>
                    <!-- End Info Item -->

                    <div class="col-lg-3 col-md-6">
                        <div class="info-item d-flex flex-column justify-content-center align-items-center" data-aos="fade-up" data-aos-delay="400">
                            <i class="bi bi-envelope"></i>
                            <h3>Email Us</h3>
                            <p>info@example.com</p>
                        </div>
                    </div>
                    <!-- End Info Item -->

                </div>

                <div class="row gy-4 mt-1">
                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3456.0911531458837!2d31.244317581449454!3d29.9768102572212!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1458479068e019c1%3A0x7883275eb9dc53cf!2sFarag%20Youssef%2C%20Dar%20El-Salam%2C%20Dar%20El%20Salam%2C%20Cairo%20Governorate%204223403!5e0!3m2!1sen!2seg!4v1714641607339!5m2!1sen!2seg"
                            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <!-- End Google Maps -->

                    <div class="col-lg-6">
                        <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="400">
                            <div class="row gy-4">

                                <div class="col-md-6">
                                    <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
                                </div>

                                <div class="col-md-6 ">
                                    <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
                                </div>

                                <div class="col-md-12">
                                    <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
                                </div>

                                <div class="col-md-12">
                                    <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
                                </div>

                                <div class="col-md-12 text-center">
                                    <div class="loading">Loading</div>
                                    <div class="error-message"></div>
                                    <div class="sent-message">Your message has been sent. Thank you!</div>

                                    <button type="submit">Send Message</button>
                                </div>

                            </div>
                        </form>
                    </div>
                    <!-- End Contact Form -->

                </div>

            </div>

        </section>
        <!-- /Contact Section -->
        {% endblock %}
    </main>

    <footer id="footer" class="footer position-relative">

        <div class="container footer-top">
            <div class="row gy-4">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-about">
                        <a href="{% url 'core:home' %}" class="logo">
                            <img src="{% static 'img/logo_1.svg' %}" alt="" class="logo">
                        </a>
                        <div class="footer-contact pt-3">
                            <p>A108 Adam Street</p>
                            <p>New York, NY 535022</p>
                            <p class="mt-3"><strong>Phone:</strong> <span>+201094128969</span></p>
                            <p><strong>Email:</strong> <span>info@example.com</span></p>
                        </div>
                        <div class="social-links d-flex mt-4">
                            <a href=""><i class="bi bi-twitter"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 footer-links">
                    {% block bottom_menu %}
                    <h4>Useful Links</h4>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Services</a></li>
                        <li><a href="#">Terms of service</a></li>
                        <li><a href="#">Privacy policy</a></li>
                    </ul>
                    {% endblock %}
                </div>

                <div class="col-lg-2 col-md-3 footer-links">
                    <h4>Our Services</h4>
                    <ul>
                        <li><a href="#">Web Design</a></li>
                        <li><a href="#">Web Development</a></li>
                        <li><a href="#">Product Management</a></li>
                        <li><a href="#">Marketing</a></li>
                        <li><a href="#">Graphic Design</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-12 footer-newsletter">
                    <h4>Our Newsletter</h4>
                    <p>Subscribe to our newsletter and receive the latest news about our products and services!</p>
                    <form action="forms/newsletter.php" method="post" class="php-email-form">
                        <div class="newsletter-form"><input type="email" name="email"><input type="submit" value="Subscribe"></div>
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your subscription request has been sent. Thank you!</div>
                    </form>
                </div>

            </div>
        </div>

        <div class="container copyright text-center mt-4">
            <p>© <span>Copyright</span> <strong class="px-1">SiteName</strong> <span>All Rights Reserved</span></p>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you've purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
                adjusted AND made by <a href="https://github.com/mohSabryKING">MOHAMED SABRY</a>
            </div>
        </div>

    </footer>

    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="{%static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{%static 'assets/vendor/php-email-form/validate.js' %}"></script>
    <script src="{%static 'assets/vendor/aos/aos.js' %}"></script>
    <script src="{%static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
    <script src="{%static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{%static 'assets/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{%static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/anime/lib/anime.js' %}"></script>
    <script src="{% static 'js/anime/lib/anime.es.js' %}"></script>
    <script src="{% static 'js/anime/lib/anime.min.js' %}"></script>
    <!-- Main JS File -->
    <script src="{%static 'assets/js/main.js' %}"></script>
    <script src="{%static 'js/j2.js' %}"></script>
    <script src="{%static 'js/j3.js' %}"></script>

    <script src="{%static 'js/j1.js' %}"></script>


    {% block scripts_area %}
    <script>
    </script>
    {% endblock %}

</body>

</html>